*.pyc
.venv/*
venv
datasets/*
log_s3dis/*
.bash_history
.gitconfig
.ipynb_checkpoints/
.local/
.python_history
dataloaders/.ipynb_checkpoints/
models/.ipynb_checkpoints/
runs/.ipynb_checkpoints/
scripts/.ipynb_checkpoints/
utils/.ipynb_checkpoints/
log_s3dis_10_08_23/
log_s3dis_14_08_23/
log_s3dis_18_08_23/
